.App{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dd{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}
.data{
  text-align: center;
  text-transform: capitalize;
  margin: 10px 0 0 0;
  width: 100vw;
  height: 100vh;
}
.b{
  width: 100%;
  position: relative;
}
.btn{  
  position: absolute;
  top:5px;
  float: right;
  right: 9px;
  text-align: center;
  width: 90px;
  outline: none;
}